{% extends '/base.html' %}

{% block content %}
<form class="w-25" action="index.php?action=login" method="post">

    {% if error %}
        <div class="p-3 mb-2 bg-danger text-white">
            {{ error }}
        </div>
    {% endif %}

    <div class="form-group">
        <label for="exampleFormControlInput2">Введите логин</label>
        <input type="text" name="login" class="form-control" id="exampleFormControlInput2">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Введите пароль</label>
        <input type="password" name="pass" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
        <button class="btn btn-info w-100">Войти</button>
    </div>
</form>
{% endblock %}