{% extends '/base.html' %}

{% block content %}
<form class="w-50" action="index.php?action=saveTask{% if task.getId %}&id={{ task.getId }}{% endif %}" method="post">

    {% if error %}
    <div class="p-3 mb-2 bg-danger text-white">
        {{ error }}
    </div>
    {% endif %}

    <div class="form-group">
        <label for="exampleFormControlInput2">Имя</label>
        <input type="name" name="name" required="true" value="{{ task.getName }}" class="form-control" id="exampleFormControlInput2" placeholder="Вася Пупкин">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email</label>
        <input type="email" name="email" required="true" value="{{ task.getEmail }}" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Текст задачи</label>
        <textarea class="form-control" required="true" name="text" id="exampleFormControlTextarea1" rows="3">{{ task.getText }}</textarea>
    </div>
    {% if task.getId %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="status" value="1" id="defaultCheck1" {% if task.getStatus %}checked{% endif %}>
        <label class="form-check-label" for="defaultCheck1">
            Статус выполнено
        </label>
    </div>
    {% endif %}
    <div class="form-group mt-3 text-right">
        <button type="submit" class="btn btn-info">Сохранить</button>
    </div>
</form>
{% endblock %}