{% extends '/base.html' %}

{% block content %}

    <div class="row mx-1">
        <div class="col">
            <a href="index.php?action=editTask" class="btn btn-success">добавить задачу</a>
        </div>
        <div class="col text-right">
            {% if user.isAuth %}
                <a href="index.php?action=logout" class="btn btn-warning">Выйти</a>
            {% else %}
                <a href="index.php?action=loginForm" class="btn btn-danger">Войти как админ</a>
            {% endif %}
        </div>
    </div>

        {% if addSuccess %}
        <div class="row mx-1 my-2  text-center">
            <div class="p-3 mb-2 bg-info text-white text-center">
                Задача добавлена
            </div>
        </div>
        {% endif %}

    {% if tasks.count %}
        <table class="table mt-3">
            <tr>
                <th><a href="index.php?orderField=name&orderDesc={{ orderDescTh }}&curPage={{ curPage }}">Имя</a></th>
                <th><a href="index.php?orderField=email&orderDesc={{ orderDescTh }}&curPage={{ curPage }}">email</a></th>
                <th>Текст задачи</th>
                <th><a href="index.php?orderField=status&orderDesc={{ orderDescTh }}&curPage={{ curPage }}">Статус</a></th>
                {% if user.isAuth %}
                    <th></th>
                {% endif %}
            </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.getName }}</td>
                <td>{{ task.getEmail }}</td>
                <td>{{ task.getText }}</td>
                <td>
                    {% if task.getStatus %}
                        Выполнено
                    {% else %}
                        Не выполнено
                    {% endif %}

                    {% if task.getEditAdmin %}
                        <br />отредактировано администратором
                    {% endif %}
                </td>
                {% if user.isAuth %}
                <td>
                    <a href="index.php?action=editTask&taskId={{ task.getId }}">изменить</a>
                </td>
                {% endif %}

            </tr>
        {% endfor %}
        </table>
    {% endif %}


    {% if countPage > 1%}
        {% for i in 1..countPage %}
            {% if i == curPage %}
                <b>{{ i }}</b>
            {% else %}
                <a href="index.php?orderField={{ orderField }}&orderDesc={{ orderDesc }}&curPage={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}